#map {
  flex: 1;
}

.leaflet-popup-content {
  width: 200px !important;
}

.leaflet-popup-close-button.leaflet-popup-close-button.leaflet-popup-close-button {
  width: 27px;
  height: 21px;
  font-size: 24px;
  line-height: 21px;
}

.popupContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-decoration: none;
  text-align: center;
}

.popupContainer h1 {
  font-size: 1.35rem;
  margin: 0;
  text-decoration: none;
}
.popupContainer p {
  font-size: 1rem;
  margin: 0;
}

.popupContainer img {
  height: auto;
  max-height: 300px;
  max-width: 200px;
}

/* Bottom left in mobile */
.interactionButtonContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.interactionButton {
  display: flex;
  z-index: 800;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  border: 1px solid white;
  box-shadow: 1px 5px 5px 0px hsla(1, 100%, 0%, 50%);
  background-color: hsl(348, 83%, 47%);
  padding: 1rem;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  color: white;
  font-size: 1.5rem;
  line-height: 1;
}
/* Top-right on larger screens */
@media (min-width: 576px) {
  .interactionButtonContainer {
    bottom: auto;
    top: 0;
    justify-content: flex-end;
  }
}

.interactionButton.interactionButton {
  color: white;
}

.interactionButton:hover {
  background-color: hsl(348, 83%, 37%);
}
