html,
body,
.layout {
  min-height: 100vh;
  width: 100%;
}

.layout {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
}

.nav {
  flex: 0;
  img {
    height: 2rem;
  }
}

.max-width-sm {
  max-width: 576px;
}

.max-width-md {
  max-width: 768px;
}

.max-width-lg {
  max-width: 992px;
}
