html,
body {
  height: 100%;
  width: 100vw;
}

.layout {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  height: auto;
  min-height: 100%;
}

.nav {
  flex: 0;
  img {
    height: 2rem;
  }
}

.max-width-sm {
  max-width: 576px;
}

.max-width-md {
  max-width: 768px;
}

.max-width-lg {
  max-width: 992px;
}
