# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = "django-insecure-blahblah-just-a-fake-key"

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True

ALLOWED_HOSTS = []

INTERNAL_IPS = [
    "127.0.0.1",
]

LOGGING = {
    "version": 1,
    "django": {
        "level": "DEBUG",
    },
}
