{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% include 'lostcats/metadata.html' %}
    
    <link rel="stylesheet" href="{% static 'lostcats/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'lostcats/css/base.css' %}" >
    {% block head %}{% endblock head %}
    <link
      rel="icon"
      href="{% static 'lostcats/images/logo-cat.svg' %}"
      type="image/svg+xml">
  </head>

  <body>
    <div class="layout">
        <nav class="nav">
          <a class="nav-link d-flex align-items-center" href="{% url 'home' %}">
            <img class="img-fluid" src="{% static 'lostcats/images/logo-full.svg' %}" alt="" />
          </a>
          <a class="nav-link d-flex align-items-center{% if home_tab %} bg-primary text-white{% endif %}" href="{% url 'home' %}">Home</a>
          <a class="nav-link d-flex align-items-center{% if map_tab %} bg-primary text-white{% endif %}" href="{% url 'map' %}">Map</a>
          <a class="nav-link d-flex align-items-center{% if gallery_tab %} bg-primary text-white{% endif %}" href="{% url 'gallery' %}">Gallery</a>
          <a class="nav-link d-flex align-items-center" href="mailto:team@lostcatithaca.com" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
            </svg>
          </a>
        </nav>
        {% block content %}{% endblock content %}
    </div>
    <script
      src="https://browser.sentry-cdn.com/6.7.1/bundle.min.js"
      integrity="sha384-+GoWV2WnDUGsSmipBvyBrWuhW8hPa/D21fH+j3NoZxDf9RgDryqh4Ug4L+7E1nxM"
      crossorigin="anonymous"></script>
    <script src="{% static 'lostcats/js/sentry-init.js' %}"></script>
    <script src="{% static 'lostcats/js/bootstrap.bundle.min.js' %}"></script>
    {% block scripts %}{% endblock scripts %}
    {% if not debug %}
      <script data-goatcounter="https://goat.lostcatithaca.com/count" async src="//goat.lostcatithaca.com/count.js"></script>
    {% endif %}
  </body>
</html>
