{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% include 'lostcats/metadata.html' %}
    
    <link rel="stylesheet" href="{% static 'lostcats/css/styles.css' %}" >
    {% block head %}{% endblock head %}
    <link
      rel="icon"
      href="{% static 'lostcats/images/logo-cat.svg' %}"
      type="image/svg+xml">
  </head>

  <body class="{% block body_class %}{% endblock %}">
    <div class="layout">
      <nav class="nav">
        <a class="nav-link d-flex align-items-center" href="{% url 'home' %}">
          <img class="img-fluid" src="{% static 'lostcats/images/logo-full.svg' %}" alt="" />
        </a>
        <a class="nav-link d-flex align-items-center{% if home_tab %} bg-primary text-white{% endif %}" href="{% url 'home' %}">Home</a>
        <a class="nav-link d-flex align-items-center{% if map_tab %} bg-primary text-white{% endif %}" href="{% url 'map' %}">Map</a>
        <a class="nav-link d-flex align-items-center{% if gallery_tab %} bg-primary text-white{% endif %}" href="{% url 'gallery' %}">Gallery</a>
      </nav>
      {% block content %}{% endblock content %}
    </div>
    <script src="{% static 'lostcats/js/sentry-init.js' %}"></script>
    <script src="{% static 'lostcats/js/bootstrap.bundle.min.js' %}"></script>
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
