{% extends 'lostcats/base.html' %}
{% load static %}


{% block content %}
<div class="w-100 max-width-md m-auto p-3 p-md-5 d-flex flex-column align-items-center shadow">
    {% if page_obj.has_other_pages %}
    <nav class="pagination-nav" aria-label="LostCat gallery navigation">
        <ul class="pagination">
            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
            <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
            {% for index in elided_page_range %}
            <li class="page-item {% if index == page_obj.number %}active{% elif index == paginator.ELLIPSIS %}disabled{% endif %}">
                <a class="page-link" {% if index != paginator.ELLIPSIS %}href="?page={{ index }}"{% endif %}>
                    {{ index }}
                </a>
            </li>
            {% endfor %}
            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
            <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
        </ul>
    </nav>
    {% endif %}
    {% for cat in cats %}
    <a href="{{ cat.get_absolute_url }}">
        <img class="img-fluid rounded shadow cat-img mb-1" src="{{ cat.resized_image_url }}" loading="lazy"/>
    </a>
    {% endfor %}
    {% if page_obj.has_other_pages %}
    <nav class="pagination-nav" aria-label="LostCat gallery navigation">
        <ul class="pagination">
            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
            <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
            {% for index in elided_page_range %}
            <li class="page-item {% if index == page_obj.number %}active{% elif index == paginator.ELLIPSIS %}disabled{% endif %}">
                <a class="page-link" {% if index != paginator.ELLIPSIS %}href="?page={{ index }}"{% endif %}>
                    {{ index }}
                </a>
            </li>
            {% endfor %}
            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
            <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock content %}


{% block head %}
<link rel="stylesheet" href="{% static 'lostcats/css/gallery.css' %}" >
{% endblock head%}


{% block scripts %}
{% endblock scripts %}
