html,
body,
#root,
.layout {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100vw;
}

.layout {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
}

.layout > *:nth-child(n + 2) {
  grid-row: 2;
}

.navlinks {
  grid-row: 1;
  display: flex;
  flex-flow: row wrap;
  left: 0;
  top: 0;
  list-style: none;
  padding: 0.5rem;
  margin: 0;
}

.navlinks > li {
  padding: 0.5rem;
  margin-right: 0.5rem;
  background-color: rgb(7, 138, 109);
}

.navlinks > li:hover,
.navlinks > li:focus {
  padding: 0.5rem;
  margin-right: 0.5rem;
  background-color: rgb(5, 97, 77);
}

.navlinks > li:last-child {
  margin-right: 0;
}

.navlinks a {
  text-decoration: none;
  color: white;
}
