#map {
  flex: 1;

  .leaflet-popup-content {
    width: 200px !important;
  }

  .leaflet-popup-close-button.leaflet-popup-close-button.leaflet-popup-close-button {
    width: 27px;
    height: 21px;
    font-size: 24px;
    line-height: 21px;
  }

  .popupContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-decoration: none;
    text-align: center;
    h1 {
      font-size: 1.35rem;
      margin: 0;
      text-decoration: none;
    }

    p {
      font-size: 1rem;
      margin: 0;
    }

    img {
      height: auto;
      max-height: 300px;
      max-width: 200px;
    }
  }
}
